.separator::after {
    content: "|";  /* Default content for desktops */
}

/* Media query for mobile devices */
@media (max-width: 920px) {
    .separator::after {
        content: "\A";  /* Line break for mobile */
        white-space: pre;  /* Ensure the line break is respected */
    }
}


/* Global styles */
body {
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    color: #fff;
    background-color: #111111;
	background-image: url("./images/bg/sunset.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	font-size: 22px;
}

.bulletpoint{
	text-align: left;
	margin-left: 25%;
}

.bulletpointsmall{
	text-align: left;
	margin-left: 1.33em;
}

.bulletpointcentre{
	text-align: left;
	margin-left: 38%;
	font-size: 1.33em;
}

.img{
    width: 60%;
}
  
.icon{
    width: 10%;
}

.pano{
    width: 100%;
}

/* Reset default styles */
* {
    margin: auto;
    box-sizing: border-box;	
}

a {
    color: white;
}

a:hover {
    color: #AA8264;
}
h1 {
	font-size: 1.8em;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

.text {
	border: 5px groove black;
	width: 55%;
	background-color: #333333;
	align-items: center;
    text-align: center;
}

.blurbtext{
	text-align: justify;
}

.subsite {
	border: 5px groove black;
	width: 55%;
	background-color: #333333;
	align-items: center;
    text-align: center;
	padding: 2em;
	padding-left:4em;
	padding-right:4em;
	font-size: 20px;
	margin: 1em auto;
}

.subsiteleft {
	border: 5px groove black;
	width: 60%;
	background-color: #333333;
	align-items: center;
    text-align: justify;
	padding: 2em;
	padding-left:4em;
	padding-right:4em;
	font-size: 20px;
	margin: 1em auto;
}
	
.nav{
	background-color: #222222;
	padding: 10px;
	width: 98%;
	text-align: center;
	border: 5px groove black;
	border-top-style: none;
	font-size: 1.25em;	
}

.intro{
	border: 5px groove black;
	border-top-style: none;
	border-bottom-style: none;
	background-image: url("./images/bg/gelthelte.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	justify-content: center;
	align-items: center;
    text-align: center;
	padding: 1em;
	width: 98%;
	height: 6em;
}

.about{
	align-items: center;
    text-align: center;
	background-color: #444444;
	padding:2em;
	padding-left:4em;
	padding-right:4em;
}

.creditsinline{
	font-size: 0.8rem; /* Makes the font size smaller */
	text-align: right; /* Aligns text to the right */
	width: 50%;
}

.credits{
	font-size: 0.8rem; /* Makes the font size smaller */
	text-align: right; /* Aligns text to the right */
	width: 100%;
}	


.socials{
	align-items: center;
    text-align: center;
	background-color: #333333;
	padding:2em;
	font-size: rem;
	padding-left:4em;
	padding-right:4em;
}

.conventions{
	align-items: center;
    text-align: center;
	background-color: #555555;
	padding:2em;
}

.widget{
	align-items: center;
    text-align: center;
	background-color: #555555;
	padding-bottom:2em;
	padding-left:4em;
	padding-right:4em;
}

.footer{
	border-top: 5px groove black;
	align-items: center;
    text-align: left;
	background-color: #333333;
	padding: 1em;
}

.footercredits{
	font-size: 0.8em;
	align-items: center;
    text-align: right;
	background-color: #222222;
	padding: 0.5em;
}

.apply-box {
    width: 40%;
    padding: 1em;
    background-color: #bbbbbb;
    border: 2px solid #e0ad16; /* Dodger Blue */
    border-radius: 0.5em;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1em auto;
    transition: background-color 0.3s, border-color 0.3s;
}

.apply-box a {
    text-decoration: none;
    color: #8B5E4F; /* Dodger Blue */
    font-weight: bold;
    display: block;
    font-size: 1.5	em;
}

.apply-box a:hover {
    color: #8B5E4F	;
    background-color: #e0d2a8;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 920px) {
	
	.img{
    width: 80%;
	}
  
	.icon{
    width: 4em;
	}
	
	.pano{
    width: 95%;
	}
	
	.text{
	width: 98%;
	font-size: 16px;
	}
	
	.widget{
	padding-right: 0px;
	padding-left: 0px;
	}
	
	.nav{
	text-align: right;
	width:100%;
	}
	
	.bulletpoint{
	margin-left: 11%;
	}
	
	.bulletpointcentre{
	margin-left: 33%;
	}
	
	.subsite {
	width: 98%;
	padding: 1em;
	font-size: 16px;
	}
	
	.subsiteleft {
	width: 98%;
	padding: 1em;
	font-size: 16px;
	}
	
	.intro{
	height: 8em;
	width:100%;
	}
	
	.about{
	padding:1em;
	}

	.socials{
	padding:1em;
	}

	.conventions{
	padding:1em;
	}
	
	.apply-box {
    width: 80%;
   }

	.widget{
	padding-bottom:1em;
	}
	
	.footer{
	font-size: 0.75em;
	}

	.footercredits{
	font-size: 0.75em;
	}
}